# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.idea/
/classpath/.idea
/vcloud-client/.idea
/vcloud-client/src/test/resources/local.properties
